body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    color: black;
}

main {
    padding: 20px;
}

.typewriter {
    font-size: 1.5rem; /* Adjust font size */
    margin: 0 auto;
    letter-spacing: .15em;
    white-space: pre-line; /* Preserve newline characters */
    height: 3em; /* Set a fixed height */
    line-height: 1.5em; /* Set line height for readability */
    word-wrap: break-word;
    
}
